.recargas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 40%;
}

.cardRecargas {
    height: 225px;
    width: 215px;
    background: #2c3e50; /* Dark blue-gray background */
    margin: 1%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Slight shadow */
    text-align: center;
    padding: 20px; /* Increased padding for better spacing */
}

.cardRecargas img {
    margin-top: 2%;
    max-width: 60px;
}

.cardRecargas a button {
    width: 70%;
    border-radius: 6px;
    height: 30px;
    color: #ecf0f1; /* Light gray text color */
    cursor: pointer;
    outline: none;
    background: #3498db; /* Light blue background */
    border: none;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Text shadow */
}

.cardRecargas p {
    color: #ecf0f1; /* Light gray text color */
    margin-top: 10px; /* Increased margin-top for better spacing */
}

.precosRecargas {
    background: #2c3e50; /* Dark blue-gray background */
    height: 550px;
}
